### --- Java & Build Tools --- ###
# Skompilowane pliki klas
*.class
# Logi
*.log
# Pliki BlueJ
*.ctxt
# Logi błędów maszyny wirtualnej
hs_err_pid*
replay_pid*

# Pakiety (używaj zewnętrznych repozytoriów zamiast trzymać je w Gicie)
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### --- Gradle --- ###
.gradle/
build/
# Lokalne ustawienia Gradle (np. ścieżki do JDK, o których pisaliśmy wcześniej)
.gradle-home/

### --- IntelliJ IDEA --- ###
.idea/
*.iws
*.iml
*.ipr
# Wyjątek: jeśli chcesz dzielić się konfiguracją słownika lub schematów z innymi,
# możesz odkomentować poniższe, ale dla małych projektów lepiej ignorować całe .idea
# !.idea/dictionaries
# !.idea/iconloader.xml

### --- OS (Systemowe śmieci) --- ###
.DS_Store
Thumbs.db